body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gmail-threads-data td {
  text-align: left;
}

.container {
  width: 90%;
  margin: auto;
}
